*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;

}
body{
    height: 100%;
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;    
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    background-image: url(/public/images/patrik-storm-alstra-pictures-rnlddg_150k-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.form{
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
}
.svg2{
    margin: none;
}
.svg{
    margin-bottom:-3px ;
}
.signup-link{
    font-weight: 300;
}
.h1{
    top: 10px;
    color: #8dd62d;
    position: absolute;
    left: 10px;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    backdrop-filter: blur(1.5px);
    padding: 25px;
    margin: auto;
    border-radius: 10px;
    width: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: rgba(23, 23, 23, 0.7); 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    text-align: center;
    flex-direction: column;
}
.sign{
    margin:10px;
}
.sign h1{
    margin: 10px;
    font-family: "poppins" , serif;
    font-style: normal;
    font-weight: 400;
}
@media (max-width:760px) {
    .container{
        width: 80%;   
    }
}
h3{
    font-size: 13px;
    color: #e9e3e3;
    font-weight: 300;
    text-align: center;
}
h1{
    text-align: center;
}
.input{
    display: block;
    margin-bottom: 15px;
    background-color: black;
    margin-top: 10px;
    padding: 15px;
    color: white;
    width:250px;
    border-radius: 5px;
    border: none;
}
.logo{
    width:28px;
    height: 27px;
}
.logo3{
    width: 25px;
    height: auto;

}
.logo2{
    width: 25px;
    height: auto;
}
.logo4{
    width: 23px;
    height: auto;
}
a{
    text-decoration: none;
    font-size: 13px;
    color: white;
}
a:hover{
    text-decoration:underline;
}
.btn{
    background:#8dd62d;
    display: block;
    padding: 8px;
    width:100%;
    cursor: pointer;
    border-radius:5px;
    border: none;
    margin: auto;
    color:black;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.btn:hover{
    background-color:#a5f837;
    transition: 0.3s;
}
button{
    margin: 15px 2px;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    background:black;
    text-align:  20px start;
    color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.forgot-password{
    margin-bottom:50px;
}
.foot{
    font-size: 10px;
    font-family:'poppins' sans-serif;
    font-weight: 200;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.signup-text{
    margin-top: 20px;
}
@media (max-width:430px) {
    body {
        content: "";
        overflow: hidden;
        backdrop-filter: blur(3px);
    }
        a h1{
        font-size: 13px;
    }
    .container{
        border-radius: 0;
        width: 100%;
        box-shadow: none;
        backdrop-filter: blur(0px);
        background: none;
    }
}